<p id="notice"><%= notice %></p>

<% @contacts.each do |contact| %>
  <h1><center><%= contact.title %></center></h1>
  <p><center>Email: <%= contact.email %></center></p>
  <p><center>Phone Number: <%= contact.phone %></center></p>
<% end %>